/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


body{
	width: 900px;
	height: 1400px;
	margin: auto;
}

nav{
	width: 900px;
	display: flex;
	justify-content: space-around;
}

a{
	text-decoration: none;
	color: grey;
}

.topPart{
	display: flex;
	justify-content: space-around;
}

h1{
	height: 400px;
	width: 400px;
	font-size: 70px;
	text-align: center;
	padding: 75px;
	margin-top: 75px;
}

.codePhoto{
	padding: 75px;
}


button{
	background: none;
	width: 175px;
	height: 30px;
	position: relative;
	top: -160px;
	left: 100px;
}

.featuresAbout{
	display: flex;
	border-top: 2px solid grey;
	padding-top: 40px;
}

.middle-img{
	margin-top: 20px;
	margin-bottom: 20px;
}

.servicesPar, .productPar, .visionPar{
	width: 275px;
}
.bottom{
	display: flex;
	padding-bottom: 40px;
	border-bottom: 2px solid grey;
	justify-content: space-between;
}

.contactPar{
	padding-top: 40px;
}

footer{
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.services-header-img{
	position: relative;
	top: 20px;
	margin-bottom: 40px;
}

.services{
	margin-bottom: 40px;}

.design{
	display: flex;
	flex-direction: column;
	background: lightgrey;
	border: 1px solid black;
	width: 47%;
	height: 200px;
	padding: 20px;
	padding-bottom: 200px;
}
.ux-ui{
	display: flex;
	flex-direction: column;
	background: lightgrey;
	border: 1px solid black;
	width: 47%;
	height: 200px;
	padding: 20px;
	padding-bottom: 200px;
}
.firstTwo{
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	border-top: 1px solid black;
}
.secondTwo{
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}
.digital-marketing{
	display: flex;
	flex-direction: column;
	background: lightgrey;
	border: 1px solid black;
	width: 47%;
	height: 200px;
	padding: 20px;
	padding-bottom: 200px;
}
.web-development{
	display: flex;
	flex-direction: column;
	background: lightgrey;
	border: 1px solid black;
	width: 47%;
	height: 200px;
	padding: 20px;
	padding-bottom: 200px;
}
.thirdTwo{
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid black;
}
.ios-development{
	display: flex;
	flex-direction: column;
	background: lightgrey;
	border: 1px solid black;
	width: 47%;
	height: 200px;
	padding: 20px;
	padding-bottom: 200px;
}
.android{
	display: flex;
	flex-direction: column;
	background: lightgrey;
	border: 1px solid black;
	width: 47%;
	height: 200px;
	padding: 20px;
	padding-bottom: 200px;
}
.learnMore{
	position: relative;
	top: 10px;
	left: -20px;  
	background: white;
}

.someFacts{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	width: 47%;
	height: 200px;
}
.services-info-img{
	position: relative;
	right: -480px;
	top: -260px;
}
li{
	list-style-type: disc;
	position: relative;
	left: 20px;
}
.secondOne{
	position: relative;
	top: -200px;
}